.section {
    display: flex;
    flex-direction: column;

    /*overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 200px);*/
}

.order {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.price {
    display: flex;
    align-items: center;
}

.list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}