.container {
    padding-top: 50px;
    padding-bottom: 60px;
}

.containes{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 60px;
}
.content {
    margin: 0 auto;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    grid-column-gap: 20px;
    text-align: center;
}

.itemslist {
    display: flex;
    flex-direction: column;
}