.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 auto;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    grid-column-gap: 20px;
}

.itemslist {
    display: flex;
    flex-direction: column;
}